{% extends 'base.html' %}

{% block content %}

    <div class="page-content container">
        <div class="row justify-content-center mt-3">
            <div class="col col-md-6 col-lg-4">
               <form role="form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mt-3 w-75">
                            {{ field.label_tag }}
                            <input class="form-control mt-0"
                                   id="{{ field.id_for_label }}"
                                   maxlength="30"
                                   name="{{ field.html_name }}"
                                   type="{{ field.widget_type }}"
                                   {%  if field.value %}
                                        value="{{ field.value }}"
                                  {% endif %}
                            />
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ field.errors }}
                            </div>
                       {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="Submit" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}