{% extends 'base.html' %}


{% load static %}


{% block headContent %}



{% endblock %}





{% block content %}




  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to Swimtech Solutions</h1>
      <h2>Where triathletes come to improve their swims</h2>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About UsSection ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Who is Coach Carina?</h3>
              <p>
                As a lifelong swimmer and current triathlete, coach Carina Peritore knows what it takes to swim well and, most importantly, to really enjoy swimming. Here are some of the ways her experience and mindset can help:
              </p>
{#              <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>#}
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cycling"></i>
                  <h4>Sacramento Triathlon Club</h4>
                  <p>As an active STC member, she trains and races in the same events that you do. She's had the same fears and overcome the same obstacles that you likely face.</p>
                    <p>If you compete in a Northern California triathlon, you'll likely see coach Carina at the race.</p>
                </div>
                 <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-swim"></i>
                  <h4>NCAA All American Swimmer</h4>
                    <p>Coach Carina was an NCAA Division III All American at UC Santa Cruz where she swam competitively for 4 years.</p>
                    <p>She will take what she learned from the best coaches and put that to work for you.</p>
               </div>
               <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-water"></i>
                  <h4>Masters Swimmer</h4>
                  <p>As a masters swimmer since college who still swims actively with Sacramento Masters, Carina is constantly improving her swimming and coaching skills through regular workouts and coaching clinics.</p>
                </div>
{#                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">#}
{#                  <i class="bx bx-shield"></i>#}
{#                  <h4>Good Listener</h4>#}
{#                  <p>One of our guiding principles, borrowed from triathlon coach Tim Sorensen, is "Start where you are, use what you have, do what you can." Carina will spend the time and effort to learn where you are and where you want to go then help you get there.</p>#}
{#                </div>#}
                 <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-cool"></i>
                  <h4>Water Polo Player</h4>
                  <p>Are triathlon mass starts and open water navigation intimidating? Let Carina teach you some of the water polo skills that she uses to thrive in these situations.</p>
                </div>
             </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= About You Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Who are you?</h3>
              <p>
                Carina believes that everyone can experience the joy and satisfaction that comes along with improving your swimming. This holds true for beginners, seasoned veterans, competitive swimmers, recreational swimmers, and the many variations along the way. Here are a few examples:
              </p>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-swim"></i>
                  <h4>Adult Swimmer</h4>
                  <p>You are either starting out or it's been a long time since you were a swimmer.</p>
                    <p>Whether you're learning to swim for the first time, knocking some rust off of the old skills, or looking to simply improve your swimming, we have you covered.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cycling"></i>
                  <h4>New Triathlete</h4>
                  <p>You've done a few or are planning to do a triathlon in the near future. Maybe mass starts and open water feel a little intimidating.</p>
                    <p>One thing most triathletes would like to have is more endurance. Better swimming technique leads to more efficient, more effortless, swimming. This will leave you feeling great after the swim and ready to excel on your bike.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-run"></i>
                  <h4>Experienced Triathlete</h4>
                  <p>You've done a lot of swims but would like to improve your swimming whether it's swimming efficiently to save energy, swimming faster, or simply removing the intimidation factor and enjoying your swims.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-question-mark"></i>
                  <h4>Don't Fit in a Category</h4>
                  <p>Coach Carina will enthusiastically meet you where you are and help you to achieve the goals that matter to you.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About You Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Services</h2>
          <p>We offer swim coaching in a variety of formats to fit your situation and maximize the benefits you get from working with us.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-water"></i></div>
              <h4 class="title"><a href="">Pool Sessions</a></h4>
              <p class="description">You'll have a coach on deck to help you evaluate where you are and how you can meet your swimming goals</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-video"></i></div>
              <h4 class="title"><a href="">Pool Sessions with Underwater Video</a></h4>
              <p class="description">Underwater video is the best way to give you and your coach usable feedback on areas that are hard or impossible to spot from above.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-water"></i></div>
              <h4 class="title"><a href="">Open water Sessions</a></h4>
              <p class="description">Learn and practice skills that will help your open water swimming</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-customize"></i></div>
              <h4 class="title"><a href="">Customized Sessions</a></h4>
              <p class="description">Any combination of pool or open water work with or without video that meets your needs</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Join Us Today!</h3>
          <p> Experience firsthand how satisfying (and fun) it can be to improve your swimming. </p>
          <a class="cta-btn" href="#">Get Started</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Testimonials</h2>
{#          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I've never trained swimming with coach Carina, but she's a great riding partner.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{%  static  'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Mark Schmitz</h3>
                <h4>NorCal Triathlete</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I always wanted to do triathlons but was afraid of the swim. After a few sessions with Carina, I'm feeling confident and so excited.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{%  static  'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Aspiring Triathlete</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The underwater videos are game changing. What I see in the videos is different from what I thought was happening. Good feedback is so empowering.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{%  static  'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Masters Swimmer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  With my newly earned swimming prowess, I'm going to crush John Larsen in our next triathlon..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{%  static  'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Age Group Triathlete</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Matt Brandon is going down in flames. I've been putting in the hard work and thanks to the underwater videos it has been very effective.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{%  static  'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Collegiate Triathlete</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


{#    <!-- ======= Contact Section ======= -->#}
{#    <section id="contact" class="contact section-bg">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="section-title">#}
{#          <h2>Contact</h2>#}
{#          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#          <div class="col-lg-6">#}
{#            <div class="info-box mb-4">#}
{#              <i class="bx bx-map"></i>#}
{#              <h3>Our Address</h3>#}
{#              <p>A108 Adam Street, New York, NY 535022</p>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="info-box  mb-4">#}
{#              <i class="bx bx-envelope"></i>#}
{#              <h3>Email Us</h3>#}
{#              <p>carina@swimtechsolutions.com</p>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="info-box  mb-4">#}
{#              <i class="bx bx-phone-call"></i>#}
{#              <h3>Call Us</h3>#}
{#              <p>+1 5589 55488 55</p>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="row">#}
{##}
{#          <div class="col-lg-6 ">#}
{#            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12463.814907664651!2d-121.5078896913086!3d38.64994429534421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809b292f64e82483%3A0xf528c104ade773e2!2sNorth%20Natomas%20Aquatic%20Complex!5e0!3m2!1sen!2sus!4v1705528658423!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>#}
{#          </div>#}
{##}
{#          <div class="col-lg-6">#}
{#            <form action="forms/contact.php" method="post" role="form" class="php-email-form">#}
{#              <div class="row">#}
{#                <div class="col-md-6 form-group">#}
{#                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>#}
{#                </div>#}
{#                <div class="col-md-6 form-group mt-3 mt-md-0">#}
{#                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group mt-3">#}
{#                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>#}
{#              </div>#}
{#              <div class="form-group mt-3">#}
{#                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>#}
{#              </div>#}
{#              <div class="my-3">#}
{#                <div class="loading">Loading</div>#}
{#                <div class="error-message"></div>#}
{#                <div class="sent-message">Your message has been sent. Thank you!</div>#}
{#              </div>#}
{#              <div class="text-center"><button type="submit">Send Message</button></div>#}
{#            </form>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Contact Section -->#}

  </main><!-- End #main -->



{% endblock %}